/.vs/
/RequirementsDocGenerator/obj
/RequirementsDocGenerator/bin
/RequirementsDocGenerator/Properties
/RequirementsDocGenerator/obj
/RequirementsDocGeneratorTest/bin
/RequirementsDocGeneratorTest/Properties
/RequirementsDocGeneratorTest/obj
/data/*.docx
/obj/
